html {
    height: 100%;
  }
  
  body {
      background: #4f8ea5;
      background: -moz-radial-gradient(center, ellipse cover, rgba(79, 142, 165, 1) 0%, rgba(52, 63, 83, 1) 50%, rgba(28, 27, 38, 1) 100%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(79, 142, 165, 1) 0%, rgba(52, 63, 83, 1) 50%, rgba(28, 27, 38, 1) 100%);
      background: radial-gradient(ellipse at center, rgba(79, 142, 165, 1) 0%, rgba(52, 63, 83, 1) 50%, rgba(28, 27, 38, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f8ea5', endColorstr='#1c1b26',GradientType=1);
      font-family: "proxima-nova";
      font-family:"Times New Roman";
      color: white;
  }
  
  
  .center-X {
    display: flex;  
    justify-content: center;
  }
  
  /* #my-image{
      display: flex;
      justify-content: center;
  } */
  
  .my-image img {
      height: 20%;
      width: 20%;
      border-radius: 100%;
      border: 3px solid white;
      box-shadow: 1px 1px 10px 2px lightgrey;
      color: whitesmoke;
      margin-left: 10px;
      margin-top: 10px;
  }
  
  #time {
      font-size: 20px;
  }
  
  #contact {
      font-size: 20px;
      text-align: center;
      margin-top: 60px;
      width: 100%;
  }
  
  /*aside {
      width: 50%;
      padding-top: 0px;
      margin-top: 5%;
      float: left;
      text-align: center;
      margin-left: 20px;
      color: whitesmoke;
      height: auto;
  }*/
  
  
  form {
      border: 3px solid #f1f1f1;
      width:70%;
      float: right;
      margin: auto;
      margin-top:4%;
      border-radius: 15px;
      padding-left: 30px;
      color: blanchedalmond;
      display: flex;
      justify-content: center;
  }
  
  
  #style {
      text-align: center;
      margin-top: 10px;
  }
  
  input[type=text], input[type=Email],  input[type=password] {
      width: 50%;
      padding: 12px 20px;
      /*margin: px 0px;
      display: inline-block;
     /* border: 1px solid black;*/
      border-radius: 5px;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid white;
      background-color: unset;
  }
  
  #container {
      margin-top: px;
      height: auto;
  }
  
  button {
    background-color: lightgreen;
    border-radius: 15px;
    cursor: pointer;
    margin:auto;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .texthighlight {
      color: rgb(226, 14, 191);
  }
  
  .text-highlight {
      color: rgb(15, 123, 223);
  }
  .highlight
  {
      color: blue;
  }
  
  .high {
      color: cadetblue;
  }
  
  .highl {
      color: blanchedalmond;
  }